<footer class="bg-dark mt-5">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <a href="/index.html"><img src="./assets/images/YGWHITE.png" alt="" width="280px"></a>
                    <div class="line"></div>
                    <p>Advance Your Career with YellowGap Education Society's Master Full Stack Development Program!
                    </p>
                    <div class="social-icons">
                        <a href="https://www.youtube.com/@yellowgap"><i class="ri-youtube-fill"></i></a>
                        <a href="https://www.facebook.com/yellowgapsoc"><i class="ri-facebook-fill"></i></a>
                        <a href="https://www.instagram.com/yellowgap.social/"><i class="ri-instagram-fill"></i></a>
                        <a href="https://www.linkedin.com/in/yg-social"><i class="ri-linkedin-fill"></i></a>
                        <br>
                        
                    </div>
                    <p style="margin-top: 20px;">© YellowGap 2025. All Rights Reserved</p>
                </div>
                <div class="col-lg-3 ">
                    <h5 class="mb-0 text-white">COURSES</h5>
                    <div class="line"></div>
                    <ul>
                        <li><a href="./courses.html">Comprehensive web development</a></li>
                        <li><a href="./courses.html">Operational excellence</a></li>
                        <li><a href="./courses.html">Progressive Web Applications</a></li>
                        <li><a href="./courses.html">Advanced Technical skills</a></li>
                        <li><a href="./courses.html">Leading-Edge Technologies</a></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h5 class="mb-0 text-white">ABOUT</h5>
                    <div class="line"></div>


                    <ul>
                        <li><a href="./courses.html">Curriculum</a></li>
                        <li><a href="./classroom.html">Classroom</a></li>
                        <li><a href="./reviews.html">Reviews</a></li>
                        <li><a href="./instructors.html">Faculty</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <h5 class="mb-0 text-white">CONTACT</h5>
                    <div class="line"></div>
                    <ul>
                        <li><strong>Address:</strong> 408, SK Plaza Kalyan Shilphata Road Dombivali East Thane,
                            Maharashtra - 421204</li>
                        <li><strong>Phone no: </strong>8591113931</li>
                        <li><a href="https://www.yellowgap.com/">www.YellowGap.com</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</footer>