<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/YG-TESTING/components/pageTransition.css">




</head>
<script src="/YG-TESTING/components/pageTransition.JS" defer></script>



<body>
    <div class="loader" id="preloader">
        <div class="logo-container" id="logo">
            <div class="l-shape top-left"></div>
            <div class="l-shape top-right"></div>
            <div class="l-shape bottom-left"></div>
            <div class="l-shape bottom-right"></div>
        </div>
    </div>
      
</body>
</html>