<!-- <section id="techstacks">
    <div class="slider-wrapper">
    <div class="tech-slider" style="padding-bottom: 24px;">
        <div class="tech-item">API</div>
        <div class="tech-item">System Design</div>
        <div class="tech-item">Frontend</div>
        <div class="tech-item">Backend</div>
        <div class="tech-item">Database</div>
        <div class="tech-item">Algorithm</div>
        <div class="tech-item">Data structure</div>
        <div class="tech-item">HTTP</div>
        <div class="tech-item">REST</div>
        <div class="tech-item">GraphQL</div>
        <div class="tech-item">Microservices</div>
        <div class="tech-item">Monolith</div>
        <div class="tech-item">Middleware</div>
        <div class="tech-item">DevOps</div>
        <div class="tech-item">CI/CD</div>
        <div class="tech-item">Containerization</div>
        <div class="tech-item">Docker</div>
        <div class="tech-item">Kubernetes</div>
        <div class="tech-item">Cloud computing</div>
        <div class="tech-item">Serverless</div>
        <div class="tech-item">Edge Computing</div>
        <div class="tech-item">Reverse Engineering</div>
        <div class="tech-item">Code Refactoring</div>
        <div class="tech-item">Technical Debt</div>
      
        
    </div>
    <div class="tech-slider-clone" style="padding-bottom: 24px;">
        <div class="tech-item">Proxy</div>
        <div class="tech-item">Load Balancing</div>
        <div class="tech-item">Caching</div>
        <div class="tech-item">Reverse Proxy</div>
        <div class="tech-item">Authentication</div>
        <div class="tech-item">Authorization</div>
        <div class="tech-item">OAuth</div>
        <div class="tech-item">JWT</div>
        <div class="tech-item">Encyption</div>
        <div class="tech-item">Hashing</div>
        <div class="tech-item">SQL</div>
        <div class="tech-item">NoSQL</div>
        <div class="tech-item">ORM</div>
        <div class="tech-item">Query Optimization</div>
        <div class="tech-item">Indexing</div>
        <div class="tech-item">Sharding</div>
        <div class="tech-item">Replication</div>
        <div class="tech-item">Event-Driven Architecture</div>
        <div class="tech-item">Message Queue</div>
        <div class="tech-item">WebSocket</div>
        <div class="tech-item">AJAX</div>
        <div class="tech-item">API Gateway</div>
        <div class="tech-item">Rate Limiting</div>
        <div class="tech-item">Content Delivery Network (CDN)</div>
        <div class="tech-item">Infrastructure as Code (IaC)</div>
        
    </div>
  
</div>  


<div class="slider-wrapper-right">
    <div class="tech-slider-right" style="padding-bottom: 60px;">
        <div class="tech-item">JSON</div>
        <div class="tech-item">XML</div>
        <div class="tech-item">Session</div>
        <div class="tech-item">Cookie</div>
        <div class="tech-item">Token</div>
        <div class="tech-item">Middleware</div>
        <div class="tech-item">Framework</div>
        <div class="tech-item">Library</div>
        <div class="tech-item">SDK</div>
        <div class="tech-item">Version Control</div>
        <div class="tech-item">Git</div>
        <div class="tech-item">Branching</div>
        <div class="tech-item">Merge Conflict</div>
        <div class="tech-item">Code Review</div>
        <div class="tech-item">Linter</div>
        <div class="tech-item">Debugging</div>
        <div class="tech-item">Unit Testing</div>
        <div class="tech-item">Integration Testing</div>
        <div class="tech-item">Regression Testing</div>
        <div class="tech-item">Test-Driven Development (TDD)</div>
        <div class="tech-item">Behavior-Driven Development (BDD)</div>
        <div class="tech-item">Graph</div>
        <div class="tech-item">Linked List</div>
        <div class="tech-item">Hash Table</div>
        <div class="tech-item">Web Crawler</div>
    </div>

    <div class="tech-slider-right-clone" style="padding-bottom: 60px;">
        <div class="tech-item">Dependency Injection</div>
        <div class="tech-item">Singleton Pattern</div>
        <div class="tech-item">Factory Pattern</div>
        <div class="tech-item">Observer Pattern</div>
        <div class="tech-item">MVC</div>
        <div class="tech-item">MVVM</div>
        <div class="tech-item">SSR (Server-Side Rendering)</div>
        <div class="tech-item">CSR (Client-Side Rendering)</div>
        <div class="tech-item">Progressive Web App (PWA)</div>
        <div class="tech-item">Hybrid App</div>
        <div class="tech-item">Native App</div>
        <div class="tech-item">Web Assembly</div>
        <div class="tech-item">Virtual DOM</div>
        <div class="tech-item">Event Loop</div>
        <div class="tech-item">Thread</div>
        <div class="tech-item">Process</div>
        <div class="tech-item">Deadlock</div>
        <div class="tech-item">Race Condition</div>
        <div class="tech-item">Memory Leak</div>
        <div class="tech-item">Garbage Collection</div>
        <div class="tech-item">Recursion</div>
        <div class="tech-item">Big-O Notation</div>
        <div class="tech-item">Heap</div>
        <div class="tech-item">Stack</div>
        <div class="tech-item">Binary Tree</div>
        
    </div>
  
</div>  

</section>


 -->
 <section id="techstacks">
    <div class="slider-wrapper">
    <div class="tech-slider" style="padding-bottom: 24px;">
        <div class="tech-item">HTML</div>
        <div class="tech-item">CSS</div>
        <div class="tech-item">Bootstrap</div>
        <div class="tech-item">JavaScript</div>
        <div class="tech-item">React</div>
        <div class="tech-item">Magento</div>
        <div class="tech-item">DevOps</div>
        <div class="tech-item">HTML</div>
        <div class="tech-item">CSS</div>
        <div class="tech-item">Bootstrap</div>
        <div class="tech-item">JavaScript</div>
        <div class="tech-item">React</div>
        <div class="tech-item">Magento</div>
        <div class="tech-item">DevOps</div>
        <div class="tech-item">HTML</div>
        <div class="tech-item">CSS</div>
        <div class="tech-item">Bootstrap</div>
        <div class="tech-item">JavaScript</div>
        <div class="tech-item">React</div>
        <div class="tech-item">Magento</div>
        <div class="tech-item">DevOps</div>
        
    </div>
    <div class="tech-slider-clone" style="padding-bottom: 24px;">
        <div class="tech-item">HTML</div>
        <div class="tech-item">CSS</div>
        <div class="tech-item">Bootstrap</div>
        <div class="tech-item">JavaScript</div>
        <div class="tech-item">React</div>
        <div class="tech-item">Magento</div>
        <div class="tech-item">DevOps</div>
        <div class="tech-item">HTML</div>
        <div class="tech-item">CSS</div>
        <div class="tech-item">Bootstrap</div>
        <div class="tech-item">JavaScript</div>
        <div class="tech-item">React</div>
        <div class="tech-item">Magento</div>
        <div class="tech-item">DevOps</div>
        <div class="tech-item">HTML</div>
        <div class="tech-item">CSS</div>
        <div class="tech-item">Bootstrap</div>
        <div class="tech-item">JavaScript</div>
        <div class="tech-item">React</div>
        <div class="tech-item">Magento</div>
        <div class="tech-item">DevOps</div>
        
    </div>
  
</div>  
</section>

<section id="techstacks">
    <div class="slider-wrapper-right">
    <div class="tech-slider-right" style="padding-bottom: 60px;">
        <div class="tech-item">HTML</div>
        <div class="tech-item">CSS</div>
        <div class="tech-item">Bootstrap</div>
        <div class="tech-item">JavaScript</div>
        <div class="tech-item">React</div>
        <div class="tech-item">Magento</div>
        <div class="tech-item">DevOps</div>
        <div class="tech-item">HTML</div>
        <div class="tech-item">CSS</div>
        <div class="tech-item">Bootstrap</div>
        <div class="tech-item">JavaScript</div>
        <div class="tech-item">React</div>
        <div class="tech-item">Magento</div>
        <div class="tech-item">DevOps</div>
        <div class="tech-item">HTML</div>
        <div class="tech-item">CSS</div>
        <div class="tech-item">Bootstrap</div>
        <div class="tech-item">JavaScript</div>
        <div class="tech-item">React</div>
        <div class="tech-item">Magento</div>
        <div class="tech-item">DevOps</div>
        
    </div>

    <div class="tech-slider-right-clone" style="padding-bottom: 60px;">
        <div class="tech-item">HTML</div>
        <div class="tech-item">CSS</div>
        <div class="tech-item">Bootstrap</div>
        <div class="tech-item">JavaScript</div>
        <div class="tech-item">React</div>
        <div class="tech-item">Magento</div>
        <div class="tech-item">DevOps</div>
        <div class="tech-item">HTML</div>
        <div class="tech-item">CSS</div>
        <div class="tech-item">Bootstrap</div>
        <div class="tech-item">JavaScript</div>
        <div class="tech-item">React</div>
        <div class="tech-item">Magento</div>
        <div class="tech-item">DevOps</div>
        <div class="tech-item">HTML</div>
        <div class="tech-item">CSS</div>
        <div class="tech-item">Bootstrap</div>
        <div class="tech-item">JavaScript</div>
        <div class="tech-item">React</div>
        <div class="tech-item">Magento</div>
        <div class="tech-item">DevOps</div>
        
    </div>
  
</div>  
</section>

