#quote .display-1{ /*Big text in the about section (confusing id names but thats just how it is)*/
    font-size: 64px; 
    font-weight: 700;
    text-align: center;
    margin-top: 125px;
}

.line {
    width: 60px;
    height: 4px;
    background-color: var(--c-brand);
    margin: 16px auto 24px auto;
}

#subtext {  /*for small text just below lines*/
    font-size: 25px;
    color: gray;
}

#subheading{   /*For subheadings with big center texts*/
    font-weight: 500;
    color: var(--c-dark);
    line-height: 1.3;
    letter-spacing: -1px;
    text-align: center;
    /* margin-top: -75px; */
}

#detes{   /*For titles of descriptions that are left-aligned*/
    font-size: 70px;
    font-weight: 500;
    text-align: left;
    color: var(--c-dark);
    /* line-height: 1.3; */
    letter-spacing: -2.4 px;
    /* margin-top: -100px; */
}

#para{ /*for small descriptive text */
    font-size: 25px;
    color: black;
    font-weight: 300; 
}

#quote{ /*For big quotes and big texts*/
    font-size: 80px;
    font-weight: 600;
    margin-top: 10px;
    text-align: center;

}

.ab-carousel-container { /*This is for the reviews carousel*/
    width: 100%;
    height: 600px;
    overflow: hidden;
    /* position: relative; */
    border-radius: 20px;
    /* box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3); */
    display: flex;
    align-items: center; 
}

.ab-carousel-content {
    display: flex;
    transition: transform 0.8s ease-in-out;
    
}

.ab-carousel-item {
    position: relative;
    transform-style: preserve-3d;
    width: 56px;
    min-width: 30%;
    background-color: #fff;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    height: 450px; 
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 15px;
    transition: transform 0.75s ease, box-shadow 0.3s ease; 
}

.ab-carousel-item:hover {
    /* transform: translateY(-10px); */
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.3);
    transform: rotateY(180deg);

}

.top-content {
    position: relative;
    top: 160px;  
    backface-visibility: hidden;
}

.bottom-content {
    padding: 50px;
    font-size: 0.7rem;
    color: #555;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    margin-top: -200px;
    
}

#detes-spec3{
    font-size: 40px;
    font-weight: 500;
    text-align: left;
    color: var(--c-dark);
    /* line-height: 1.3; */
    letter-spacing: -2.4 px;
    
}

#names{
    font-weight: 450;
    color: var(--c-dark);
    line-height: 1.3;
    letter-spacing: -1px;
    text-align: left;
    margin-top: -115px;

}
