
@media (max-width: 486px) {
    body, html {
        overflow-x: hidden; 
        text-align: center;
        
    }

     h2{
        margin-bottom: 1.5rem;
        
    }
    .tech-item {
        font-size: 24px;
    }
    .slider-wrapper {
        position: relative;
        left: 0;
        width: 100%;
        z-index: 20;
        padding: 10px 0;
    }
    #about h1 {
        font-weight: 700;
        font-size: 34px;
        padding: 0 0px;
     
    }
    #about h2{
        font-size: 21px; 
        padding: 0 0px;
    }
    #about h3{
        font-size: 24px; 
        padding: 0 0px;
    }
    #about h4{
        font-size: 18px; 
        padding: 0 0px;
    }

    #about .col-lg-7 h2 span{
        text-shadow: 2px 2px 1px gray;
    }

    .timeline::before {
        left: 30px;
    }

    .timeline-img {
        left: 30px;
    }

    .timeline-content {
        width: 100%;
        margin-left: 0;
        float: left;
    }

    .timeline-item {
        margin-bottom: 40px;
    }

    .timeline-item .timeline-content {
        padding: 20px;
    }
    
    #home .display-1 {
        font-size: 45px; 
        text-align: center;
    }
    #home .mb-5 {
        font-size: 22px;
    
    }
    .navbar-brand img{
        max-width: 200px;
        margin-right: 50px;
        
      
    }
    .small-screen img{
        display: block; 
        margin-top: 20px;
        height: auto;
        width: 100%;
        padding-bottom: 40px;
    }
    .image-container{
        display: none;
    }
    #about .col-12 h2{
        font-size: 30px;
        
    }
    #about .col-12 h1{
        font-size: 42px;
     
    }
    .col-12{
        padding: 0 0px;
    }
    
    #quote .col-12 img{
        height: auto; 
        width: 100%;
    }
    #quote h1 {
        font-size: 45px;
   
    }
    .section-padding {
        padding-bottom: 50px;
        padding-top: 50px;
    }
    .section-title h1 {
        font-size: 50px;
    }
    .section-title p {
        font-size: 20px;
    }
    .carousel-inner h1{
        font-size: 30px;
    }
    .carousel-inner img{
        height: auto;
        width: 100%;
    }
    .carousel-item .col-lg-7 h1{
        display: flex;
       margin-top: 0;
        justify-content: center;
        align-items: center;
    
    }
    .col-lg-5  {
        
        order: 1;
    }
    .col-lg-7  {
       
        order: 2;
    }
    #quote img {
        height: auto; 
        width: 100%;
        margin-bottom: 0;
    }
    #about img {
        height: auto;
        width: 100%; 
        /* margin-bottom: 100px; */
        /* margin-left: 10px; */
    }
    
    
    .container {
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
        
        
    }
    
    .btn {
        width: 100%; 
    }
    .typeform{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
        
         
     }
     footer{
        text-align: left;
        font-size: 20px;
        
        
     }

     .timeline-wrapper {
        display: flex;
        flex-direction: column;
        gap: 80px;
        align-items: center;
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;  
    }
    
    .timeline-container {
        width: 80%;
        position: relative;
        margin-bottom: 40px;
    }
    
    .progress-path {
        width: 100%;
        height: 2px;
        background: rgb(215, 211, 211);
        border-radius: 3px;
        position: relative;
        margin-bottom: 60px;
    }
    
    .progress-glow {
        height: 6px;
        width: 0%;
        background: linear-gradient(90deg, gold, gold);
        border-radius: 3px;
        transition: width 0.5s ease;
    }

    .milestone {
        position: absolute;
        top: -12.5px;   
        width: 27.5px;
        height: 27.5px;
        line-height: 40px;
        border-radius: 50%;
        background-color: gold;
        /* border: 3px solid #502C9D; */
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        cursor: pointer;
        transition: transform 0.3s ease, background 0.3s ease;
        text-align: center;
        font-size: 15px;    
    }
    
    .milestone:hover {
        transform: scale(1.2);
        background-color: blueviolet;
        color: #fff;
    }
     
    .info-box {
        background-color: #fff;
        color: blueviolet;
        /* border: 3px solid gold; */
        padding: 20px;
        border-radius: 20px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
        text-align: center;
        width: 100%;
        height: 300px;  
        box-sizing: border-box;
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        justify-content: baseline;
        align-items: center;
        overflow: hidden; 
        
    }
    
    .info-box h3 {
        margin: 0 0 5px;
        font-size: 35px;
        font-weight: 600;
        color: #292930;
    }
    
    .info-box p {
        margin: 0;
        font-size: 1.5rem;
        color: #757575;
    }
    
}