

@media (min-width: 487px) and (max-width: 768px) {
    body, html {
        overflow-x: hidden; 
        
    }
    #about, #quote{
        text-align: center;
    }
    .small-screen img{
        display: block; 
        margin-top: 20px;
        height: auto;
        width: 100%;
        padding-bottom: 40px;
    }
    
    .image-container{
        display: none;
    }
    .navbar-brand img {
        max-width: 190px;
        margin-right: 50px;
       
      }
    #about{
        padding: 0 0px;
    }
    #about h1{
        font-size: 40px;
        padding: 0 0px;
    }
    #about h2{
        font-size: 20px;
        padding: 0 0px;
    }
    #about h3{
        font-size: 30px;
        padding: 0 0px;
    }
    #about h4{
        padding: 0 0px;
        
    }
    #about .instructor-number{
        
        padding-top: 12px;
    }
    #quote{
        padding: 0 0px;
    }
    #home{
        margin-top: 0;
    }
    #home .display-1 {
        font-size: 60px; 
    }
    #home .mb-5 {
        font-size: 26px;
    }
    #quote h1 {
        font-size: 58px;
        
    }
    #about .col-12 h1{
        font-size: 47px;
        padding: 0 0px;
    }
    #about .col-12 h2{
        font-size: 40px;
        padding: 0 0px;
    }
    .timeline::before {
        left: 40px;
    }

    .timeline-img {
        left: 40px;
    }

    .timeline-content {
        width: 100%;
        margin-left: 0;
        float: left;
    }

    .timeline-item {
        margin-bottom: 50px;
    }

    .timeline-item .timeline-content {
        padding: 30px;
    }
    .section-padding {
        padding-bottom: 70px;
        
    }
    #quote .col-12 img{
        height: auto; 
        width: 100%;
    }
    .section-title h1 {
        font-size: 55px;
    }
    .section-title p {
        font-size: 22px;
    }
    .col-lg-7 h1 {
        /* padding-left: 15px; */
        font-size: 55px;
        /* padding-top: 70px; */
    }
    .col-lg-5 img {
        height: auto;
        width: 100%;
        margin-bottom: 0;
    }
    .col-lg-5  {
        
        order: 1;
    }
    .col-lg-7  {
       
        order: 2;
    }
    #quote img {
        height: auto;
        width: 100%;
        margin-bottom: 0;
    }
    #about img {
        height: auto;
        width: 100%; 
        margin-bottom: 0;
    }
    .carousel-inner h1{
        font-size: 42px;
    }
    .carousel-inner img{
        height: auto;
        width: 100%;
    }
    .carousel-item .col-lg-7 h1{
        display: flex;
       margin-top: 0;
        justify-content: center;
        align-items: center;
    
    }
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
    .btn {
        width: 100%;
        margin-bottom: 60px;
    }

    .typeform{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
        
         
     }
     /* Faculty info */
     .carousel-container {
        width: 100%;
        padding: 0 20px;
    }
    .inst-caro-item {
        text-align: center;
        padding:0 20px;
    }
    .inst-caro-item h1 {
        font-size: 24px;
    }
    .inst-caro-item h2 {
        font-size: 16px;
    }
    .controls {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .boton {
        font-size: 20px;
        padding: 5px 10px;
    }
    .dots-container {
        display: flex;
        justify-content: center;
        gap: 10px;
    }
}

.timeline-wrapper {
    display: flex;
    flex-direction: column;
    gap: 80px;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;  
}

.timeline-container {
    width: 80%;
    position: relative;
    margin-bottom: 40px;
}

.progress-path {
    width: 100%;
    height: 4px;
    background: rgb(215, 211, 211);
    border-radius: 3px;
    position: relative;
    margin-bottom: 60px;
}

.progress-glow {
    height: 6px;
    width: 0%;
    background: linear-gradient(90deg, gold, gold);
    border-radius: 3px;
    transition: width 0.5s ease;
}

.milestone {
    position: absolute;
    top: -20px;   
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    background-color: gold;
    /* border: 3px solid #502C9D; */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s ease, background 0.3s ease;
    text-align: center;
}

.milestone:hover {
    transform: scale(1.2);
    background-color: blueviolet;
    color: #fff;
}

.info-box {
    background-color: #fff;
    color: blueviolet;
    /* border: 3px solid gold; */
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 100%;
    height: 225px;  
    box-sizing: border-box;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    overflow: hidden; 

}

.info-box h3 {
    margin: 0 0 5px;
    font-size: 50px;
    font-weight: 600;
    color: #292930;
}

.info-box p {
    margin: 0;
    font-size: 1.5rem;
    color: #757575;
}